In [1]:
# Import necessary libraries
!pip install pandas
!pip install holidays
import pandas as pd
import holidays

# Define the file path from OneDrive
file_path = r"C:\Users\caham\OneDrive - Pandora\Desktop\Thesis\Master Thesis\Datasets\all_stores_grid.csv"

# Load the Excel file into a Pandas DataFrame
traffic_df = pd.read_csv(file_path)

# Show the first few rows of the DataFrame
print(traffic_df.head())

# Get summary statistics of the 'Visitors CY' column
print(traffic_df.describe())

Requirement already satisfied: pandas in c:\users\caham\appdata\local\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\caham\appdata\local\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\caham\appdata\local\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\caham\appdata\local\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\caham\appdata\local\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\caham\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: holidays in c:\users\caham\appdata\local\anaconda3\lib\site-packages (0.68)
Requirement already satisfied: python-dateutil in c:\users\caham\appdata\local\anaconda3\lib\site-packages (from holidays) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\caham\appdata\local\anaconda3\lib\site-packages (from python-dateutil->holidays) (1.16.0)
         date  GB00010023  GB00010062  GB00011039  GB00012044  GB00012047  \
0  2022-01-01       449.0         0.0       158.0         0.0         0.0
1  2022-01-02       748.0       367.0       275.0       207.0       356.0
2  2022-01-03       869.0       390.0       327.0       213.0       387.0
3  2022-01-04       630.0       381.0       332.0       175.0        93.0
4  2022-01-05       552.0       320.0       225.0       108.0       135.0

   GB00012055  GB00013035  GB00013039  GB00013587  ...  GB10060567  \
0         0.0         0.0         0.0       322.0  ...         NaN
1       360.0       276.0       152.0       532.0  ...         NaN
2       317.0       385.0       236.0       614.0  ...         NaN
3       369.0       296.0       229.0       500.0  ...         NaN
4       353.0       234.0       126.0       372.0  ...         NaN

   GB10060720  GB10060991  GB10061194  GB10061691  GB10061793  GB10061892  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   GB10061900  GB10061901  GB10061989
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 249 columns]
        GB00010023   GB00010062  GB00011039   GB00012044   GB00012047  \
count   543.000000  1088.000000  284.000000  1009.000000  1033.000000
mean    449.220994   367.945772  234.679577   115.535183   207.551791
std     283.928397   166.459119   83.725782    91.104755   126.568414
min       0.000000     0.000000    0.000000     0.000000     0.000000
25%     273.000000   247.750000  181.000000    67.000000   111.000000
50%     365.000000   317.000000  211.500000    91.000000   177.000000
75%     523.000000   445.000000  268.500000   132.000000   275.000000
max    2157.000000  1044.000000  650.000000   814.000000   830.000000

        GB00012055   GB00013035   GB00013039   GB00013587   GB00014024  ...  \
count  1087.000000  1086.000000   860.000000  1079.000000   496.000000  ...
mean    332.949402   205.390424   175.350000   595.849861   377.425403  ...
std     168.917445   149.001879   132.932877   337.111502   118.332601  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%     223.000000   120.000000   104.000000   377.000000   298.000000  ...
50%     278.000000   155.000000   133.500000   499.000000   366.000000  ...
75%     392.500000   228.750000   192.000000   713.000000   445.250000  ...
max    1287.000000  1081.000000  1052.000000  2389.000000  1074.000000  ...

       GB10060567   GB10060720  GB10060991   GB10061194   GB10061691  \
count  397.000000   218.000000  203.000000    53.000000    61.000000
mean   154.738035   621.068807  205.586207   460.509434   446.049180
std     82.646026   443.317406  144.423183   237.660846   250.682696
min      3.000000     0.000000    0.000000     0.000000     0.000000
25%    103.000000   302.250000  118.000000   297.000000   262.000000
50%    131.000000   503.000000  150.000000   394.000000   388.000000
75%    183.000000   776.500000  244.500000   615.000000   595.000000
max    785.000000  2564.000000  830.000000  1181.000000  1144.000000

       GB10061793  GB10061892   GB10061900  GB10061901  GB10061989
count   88.000000   44.000000    31.000000    47.00000    7.000000
mean   158.443182  224.659091   694.838710   475.06383  497.571429
std     93.735119  115.195676   407.608398   365.64573  118.210063
min      0.000000    0.000000     0.000000     0.00000  390.000000
25%     90.750000  158.750000   414.500000   218.50000  403.500000
50%    135.500000  195.500000   591.000000   362.00000  428.000000
75%    195.750000  250.250000   999.500000   623.50000  590.500000
max    440.000000  567.000000  1583.000000  1883.00000  677.000000

[8 rows x 248 columns]

In [2]:
print(traffic_df.dtypes)

date           object
GB00010023    float64
GB00010062    float64
GB00011039    float64
GB00012044    float64
               ...
GB10061793    float64
GB10061892    float64
GB10061900    float64
GB10061901    float64
GB10061989    float64
Length: 249, dtype: object

In [3]:
# Fill all NaN values in the dataset with 0s
traffic_df = traffic_df.fillna(0)

# Show the first few rows to verify changes
print(traffic_df.head())

# Get summary statistics to check if NaNs were replaced
print(traffic_df.describe())

# Check data types after filling NaNs
print(traffic_df.dtypes)

         date  GB00010023  GB00010062  GB00011039  GB00012044  GB00012047  \
0  2022-01-01       449.0         0.0       158.0         0.0         0.0
1  2022-01-02       748.0       367.0       275.0       207.0       356.0
2  2022-01-03       869.0       390.0       327.0       213.0       387.0
3  2022-01-04       630.0       381.0       332.0       175.0        93.0
4  2022-01-05       552.0       320.0       225.0       108.0       135.0

   GB00012055  GB00013035  GB00013039  GB00013587  ...  GB10060567  \
0         0.0         0.0         0.0       322.0  ...         0.0
1       360.0       276.0       152.0       532.0  ...         0.0
2       317.0       385.0       236.0       614.0  ...         0.0
3       369.0       296.0       229.0       500.0  ...         0.0
4       353.0       234.0       126.0       372.0  ...         0.0

   GB10060720  GB10060991  GB10061194  GB10061691  GB10061793  GB10061892  \
0         0.0         0.0         0.0         0.0         0.0         0.0
1         0.0         0.0         0.0         0.0         0.0         0.0
2         0.0         0.0         0.0         0.0         0.0         0.0
3         0.0         0.0         0.0         0.0         0.0         0.0
4         0.0         0.0         0.0         0.0         0.0         0.0

   GB10061900  GB10061901  GB10061989
0         0.0         0.0         0.0
1         0.0         0.0         0.0
2         0.0         0.0         0.0
3         0.0         0.0         0.0
4         0.0         0.0         0.0

[5 rows x 249 columns]
        GB00010023   GB00010062   GB00011039   GB00012044   GB00012047  \
count  1096.000000  1096.000000  1096.000000  1096.000000  1096.000000
mean    222.561131   365.260036    60.811131   106.364051   195.621350
std     300.656773   168.784148   111.330640    92.827732   132.037382
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000   246.000000     0.000000    61.000000   100.000000
50%       0.000000   315.000000     0.000000    86.000000   169.500000
75%     362.250000   444.000000   140.500000   128.000000   267.000000
max    2157.000000  1044.000000   650.000000   814.000000   830.000000

        GB00012055   GB00013035   GB00013039   GB00013587   GB00014024  ...  \
count  1096.000000  1096.000000  1096.000000  1096.000000  1096.000000  ...
mean    330.215328   203.516423   137.592153   586.607664   170.805657  ...
std     170.886635   149.601283   138.067017   342.500103   204.093106  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%     222.000000   120.000000    74.750000   372.000000     0.000000  ...
50%     277.000000   154.000000   117.000000   494.000000     0.000000  ...
75%     391.000000   225.500000   167.000000   704.000000   352.000000  ...
max    1287.000000  1081.000000  1052.000000  2389.000000  1074.000000  ...

        GB10060567   GB10060720   GB10060991   GB10061194   GB10061691  \
count  1096.000000  1096.000000  1096.000000  1096.000000  1096.000000
mean     56.050182   123.533759    38.078467    22.269161    24.825730
std      89.480072   316.963105   101.153598   111.581531   117.941158
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%     108.250000     0.000000     0.000000     0.000000     0.000000
max     785.000000  2564.000000   830.000000  1181.000000  1144.000000

        GB10061793   GB10061892   GB10061900   GB10061901   GB10061989
count  1096.000000  1096.000000  1096.000000  1096.000000  1096.000000
mean     12.721715     9.019161    19.653285    20.372263     3.177920
std      50.533231    49.676695   133.542640   122.016565    40.609672
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max     440.000000   567.000000  1583.000000  1883.000000   677.000000

[8 rows x 248 columns]
date           object
GB00010023    float64
GB00010062    float64
GB00011039    float64
GB00012044    float64
               ...
GB10061793    float64
GB10061892    float64
GB10061900    float64
GB10061901    float64
GB10061989    float64
Length: 249, dtype: object

In [4]:
# Convert 'date' column to datetime format if not already
traffic_df['date'] = pd.to_datetime(traffic_df['date'])

# Filter the dataset for Store ID 'GB00011039' on '2022-10-12'
specific_value = traffic_df.loc[traffic_df['date'] == "2022-10-12", ['date', 'GB00011039']]

# Display the result
print(specific_value)

          date  GB00011039
284 2022-10-12         0.0

In [5]:
# Convert all store visitor columns to integers (excluding the date column)
store_columns = traffic_df.columns[1:]  # Exclude the 'date' column
traffic_df[store_columns] = traffic_df[store_columns].astype(int)

# Now melt the dataframe
df_long = traffic_df.melt(id_vars=['date'], var_name='store_id', value_name='visitors_cy')

# Convert 'date' to datetime if needed
df_long['date'] = pd.to_datetime(df_long['date'])

# Display the first few rows
print(df_long.head())

        date    store_id  visitors_cy
0 2022-01-01  GB00010023          449
1 2022-01-02  GB00010023          748
2 2022-01-03  GB00010023          869
3 2022-01-04  GB00010023          630
4 2022-01-05  GB00010023          552

In [6]:
print(df_long['visitors_cy'].isna().sum())  # Count NaNs (blanks)
print((df_long['visitors_cy'] == 0).sum())  # Count zeros

0
47067

In [8]:
# Count the number of values in 'visitors_cy' per Store ID
visitor_counts = df_long.groupby('store_id')['visitors_cy'].count().reset_index()
visitor_counts.columns = ['store_id', 'visitor_count']

# Display 5 random store IDs with their visitor counts
random_sample = visitor_counts.sample(n=5, random_state=42)  # Set random_state for reproducibility

print(random_sample)

       store_id  visitor_count
33   GB00019140           1096
6    GB00013035           1096
182  GB10051443           1096
86   GB00130847           1096
156  GB10049392           1096

In [9]:
# Now we have checked that the dataset has now included all the dates that orignially had blanks as a value (just replaced with zero)
# This is because our dataset had a total of 1096 dates

In [10]:
# Define the file path for the store data
store_file_path = r"C:\Users\caham\OneDrive - Pandora\Desktop\Thesis\Master Thesis\Datasets\Store data.xlsx"

# Load the Excel file into a Pandas DataFrame for store data
store_df = pd.read_excel(store_file_path, engine="openpyxl")

# Show the first few rows of the store DataFrame
print(store_df.head())

# Ensure the column names match before merging
print(df_long.columns)  # Check traffic data column names
print(store_df.columns)  # Check store data column names

# If necessary, rename columns for consistency
store_df.rename(columns={'Store ID': 'store_id'}, inplace=True)  # Adjust if needed

# Perform a left join on the 'store_id' column
StoreTraffic_df = df_long.merge(store_df, on='store_id', how='left')

# Show the merged DataFrame
print(StoreTraffic_df.head())

# Optionally, save the merged dataset
StoreTraffic_df.to_csv("StoreTraffic_Data.csv", index=False)
print("Merged data saved as StoreTraffic_Data.csv")

     Store ID                 Store Name Store Status Cluster Country  \
0  US10060444  Chesterfield Towne Center         OPEN     NAM      US
1  US10060441           Coastland Center         OPEN     NAM      US
2  US10060289             Southgate Mall         OPEN     NAM      US
3  US10059911          125th St - Harlem         OPEN     NAM      US
4  US10061059         Macy's @ Flushing          OPEN     NAM      US

       City           State Ownership     Location Type Store Type   \
0  Richmond  US -  Virginia       O&O     Shopping Mall          CS
1    Naples   US -  Florida       O&O     Shopping Mall          CS
2  Missoula   US -  Montana       O&O     Shopping Mall          CS
3  New York  US -  New York       O&O   Street Location          CS
4  New York  US -  New York       O&O  Department Store         SIS

  Store Design Concept Location strength Unit of Measurement  Total Area  \
0       EVOKE 2.0 CORE                 A                 SQF  138.797142
1       EVOKE 2.0 CORE                 C                 SQF  149.666797
2       EVOKE 2.0 CORE                 C                 SQF  120.309437
3       EVOKE 2.0 CORE                 A                 SQF  187.849947
4       EVOKE 2.0 CORE             Other                 SQF   23.225760

   Sales Area
0  104.144308
1  112.226872
2   90.208852
3  148.644864
4   23.225760
Index(['date', 'store_id', 'visitors_cy'], dtype='object')
Index(['Store ID', 'Store Name', 'Store Status', 'Cluster', 'Country', 'City',
       'State', 'Ownership', 'Location Type', 'Store Type ',
       'Store Design Concept', 'Location strength', 'Unit of Measurement',
       'Total Area', 'Sales Area'],
      dtype='object')
        date    store_id  visitors_cy Store Name Store Status Cluster Country  \
0 2022-01-01  GB00010023          449        NaN          NaN     NaN     NaN
1 2022-01-02  GB00010023          748        NaN          NaN     NaN     NaN
2 2022-01-03  GB00010023          869        NaN          NaN     NaN     NaN
3 2022-01-04  GB00010023          630        NaN          NaN     NaN     NaN
4 2022-01-05  GB00010023          552        NaN          NaN     NaN     NaN

  City State Ownership Location Type Store Type  Store Design Concept  \
0  NaN   NaN       NaN           NaN         NaN                  NaN
1  NaN   NaN       NaN           NaN         NaN                  NaN
2  NaN   NaN       NaN           NaN         NaN                  NaN
3  NaN   NaN       NaN           NaN         NaN                  NaN
4  NaN   NaN       NaN           NaN         NaN                  NaN

  Location strength Unit of Measurement  Total Area  Sales Area
0               NaN                 NaN         NaN         NaN
1               NaN                 NaN         NaN         NaN
2               NaN                 NaN         NaN         NaN
3               NaN                 NaN         NaN         NaN
4               NaN                 NaN         NaN         NaN
Merged data saved as StoreTraffic_Data.csv

In [11]:
# CHecking to make sure the data is accurate compared to our inital dataset -- filter on a specific ID for BRIT

specific_store_id = "GB00010062"
filtered_df = StoreTraffic_df[StoreTraffic_df['store_id'] == specific_store_id]

# Display the filtered data
print(filtered_df)

           date    store_id  visitors_cy Store Name Store Status Cluster  \
1096 2022-01-01  GB00010062            0      Derby         OPEN    BRIT
1097 2022-01-02  GB00010062          367      Derby         OPEN    BRIT
1098 2022-01-03  GB00010062          390      Derby         OPEN    BRIT
1099 2022-01-04  GB00010062          381      Derby         OPEN    BRIT
1100 2022-01-05  GB00010062          320      Derby         OPEN    BRIT
...         ...         ...          ...        ...          ...     ...
2187 2024-12-27  GB00010062          609      Derby         OPEN    BRIT
2188 2024-12-28  GB00010062          648      Derby         OPEN    BRIT
2189 2024-12-29  GB00010062          706      Derby         OPEN    BRIT
2190 2024-12-30  GB00010062          744      Derby         OPEN    BRIT
2191 2024-12-31  GB00010062          720      Derby         OPEN    BRIT

     Country   City State Ownership    Location Type Store Type   \
1096      GB  Derby   NaN       O&O  Shopping Center          CS
1097      GB  Derby   NaN       O&O  Shopping Center          CS
1098      GB  Derby   NaN       O&O  Shopping Center          CS
1099      GB  Derby   NaN       O&O  Shopping Center          CS
1100      GB  Derby   NaN       O&O  Shopping Center          CS
...      ...    ...   ...       ...              ...         ...
2187      GB  Derby   NaN       O&O  Shopping Center          CS
2188      GB  Derby   NaN       O&O  Shopping Center          CS
2189      GB  Derby   NaN       O&O  Shopping Center          CS
2190      GB  Derby   NaN       O&O  Shopping Center          CS
2191      GB  Derby   NaN       O&O  Shopping Center          CS

     Store Design Concept Location strength Unit of Measurement  Total Area  \
1096            EVOLUTION                 A                 SQM       127.0
1097            EVOLUTION                 A                 SQM       127.0
1098            EVOLUTION                 A                 SQM       127.0
1099            EVOLUTION                 A                 SQM       127.0
1100            EVOLUTION                 A                 SQM       127.0
...                   ...               ...                 ...         ...
2187            EVOLUTION                 A                 SQM       127.0
2188            EVOLUTION                 A                 SQM       127.0
2189            EVOLUTION                 A                 SQM       127.0
2190            EVOLUTION                 A                 SQM       127.0
2191            EVOLUTION                 A                 SQM       127.0

      Sales Area
1096        82.0
1097        82.0
1098        82.0
1099        82.0
1100        82.0
...          ...
2187        82.0
2188        82.0
2189        82.0
2190        82.0
2191        82.0

[1096 rows x 17 columns]

In [ ]:
# Conducting some EDA now to understand more of the dataset

In [ ]:
# Install holidays package and get public holidays
!pip install holidays

# Function to get holidays for a country
def get_holidays(country_code):
    # Get the holidays for the given country and years
    holiday_instance = holidays.CountryHoliday(country_code, years=[2022, 2023, 2024, 2025])
    
    # Return a list of holidays
    return list(holiday_instance)

# Example usage for Great Britain
holidays_in_gb = get_holidays("GB")
print(holidays_in_gb)